$base-color: red;
$important-color: darken($base-color, 20%);
$warning-color: lighten($base-color, 30%);
$principal-font-family: "Times New Roman", Times, serif;
$secondary-font-family: monospace;
$box-shadow: -10px 10px 20px 5px;
$border-radius: unset;