
@mixin create-card($base-color){
    display:grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    grid-template-areas: 
    " header "
    " title "
    " main "
    " date "
    " more-information ";

    .text{
        padding: 0 0.5rem;
    }

    .header{
        grid-area: header;
        background-color: white;

        img{
            width: 400px;
        }
    }

    .title{
        grid-area: title;
        background-color: white;

        h2{
            color: lighten($base-color,10%);
        }
    }

    .main-content{
        grid-area: main;
        background-color: white;
    }

    .published-information{
        grid-area: date;
        background-color: white;
        width: 100%;
        text-align: right;

        .text-color{
            color: lighten($base-color,10%);
        } 
    }

    .more-information{
        grid-area: more-information;
        background-color: white;
        width: 100%;
        text-align: center;
        height: 3rem;

        button{
            background-color: $base-color;
            color: white;
            font-size: 1rem;
            justify-self: center;
            width: 20rem;
            height: 2rem;
            border-radius:2rem;
            box-shadow: 0 0.5rem darken($base-color, 10%);
            border: none;
                                                                                                    
            &:hover{
                background-color: darken($base-color, 10%);
                height: 2.2rem;
                box-shadow: 0 0.3rem darken($base-color, 20%);
            }
        }
    }
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ededed;
    font-family: "DM Mono"; 
}

.container{
    background-color: #ededed;
    display:grid;
    justify-items: center;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "card-1 card-2";
}
.card-container-1{
    grid-area: card-1;
   @include create-card(#7B9F35);
} 

.card-container-2{
    grid-area: card-2;
   @include create-card(orange);
} 